[submodule "agents/gandalf"]
	path = agents/gandalf
	url = https://github.com/andre-zaguette/Gandalf.git
[submodule "agents/second-brain"]
	path = agents/second-brain
	url = git@github.com-zaguette:andre-zaguette/SecondBrain.git
[submodule "agents/boromir"]
	path = agents/boromir
	url = git@github.com-zaguette:andre-zaguette/Boromir.git
[submodule "agents/palantir"]
	path = agents/palantir
	url = git@github.com-zaguette:andre-zaguette/SecondBrain.git
